<div class="auth-container">
  <h2>Login</h2>
  <form action="/login" method="POST">

    <div class="form-control">
      <label for="email">Email: </label>
      <input type="email" name="email" placeholder="Type your email" required>
    </div>

    <div class="form-control">
      <label for="password">Password: </label>
      <input type="password" name="password" placeholder="Type your password" required>
    </div>

    <input type="submit" value="Submit">
    <p>Don't have an account? <a href="/register">Sign in.</a></p>
  </form>

</div>