<div class="auth-container">
  <h2>Register</h2>
  <form action="/register" method="post">

    <div class="form-control">
      <label for="name">Name: </label>
      <input type="text" name="name" placeholder="Type your name" required>
    </div>

    <div class="form-control">
      <label for="email">Email: </label>
      <input type="email" name="email" placeholder="Type your email" required>
    </div>

    <div class="form-control">
      <label for="password">Password: </label>
      <input type="text" name="password" placeholder="Type your password" required>
    </div>

    <div class="form-control">
      <label for="confirmPassword">Confirm your password</label>: </label>
      <input type="text" name="confirmPassword" placeholder="Confirm your password" required>
    </div>

    <input type="submit" value="Submit">
    <p>Have and account already? <a href="/login">Click here</a> </p>
  </form>

</div>