<div class="insight-form-container">
  <a href="/insights/dashboard">Back to dashboard</a>
  <h2>Create Insight</h2>
  <form action="/insights/create" method="post">
    <div class="form-control">
      <label for="title">Add a new insight!</label>
      <input type="text" name="title" placeholder="Fancy sharing some thoughts?">
    </div>
    <input type="submit" class="btn" value="Submit">
  </form>
</div>

