<div class='dashboard'>
  <div class='title-container'>
    <h2>Dashboard</h2>
    <a href='/insights/create' class='btn'>Create insight</a>
  </div>
  <h3>Your insights</h3>
  <ul>
    {{#each insights}}

      <li>
        <span class='label'>{{this.title}}</span>
        <span class='actions'>
          <a href='/insights/edit/{{this.id}}' class='btn'>Editar</a>
          <form action='/insights/remove' method="POST">
            <input type='hidden' name='id' value='{{this.id}}' />
            <input type='submit' value='Excluir' class='btn' />
          </form>
        </span>
      </li>

    {{/each}}
  </ul>

  {{#if isEmpty}}
    <p>You haven't shared anything yet. Click <a href="/insights/create">here</a> to start.</p>
  {{/if}}

</div>