<div class='homepage'>
  <div class='title-container'>
    <h1>All user insights</h1>
  </div>

  <div class='insights-list'>
    <ul>

      {{#each allInsights}}

        <li>
          <span>"{{this.title}}"</span>
          <p>por: {{this.User.name}}</p>
        </li>

      {{/each}}

    </ul>
  </div>

</div>